@{
    ViewData["Title"] = "Home Page";
}

@if (ViewBag.Username != null)
{
    <h2>Welcome @ViewBag.Username</h2>
}

@foreach (var post in ViewBag.NewPosts)
{
    <div class="post">
        <h3 class="username" >@post.username</h3>
        <a href="~/Home/Read/@post.id"><img src="../images/@post.image" class="postimage" /></a>
        <br>
        <p class="caption"><span class="caption-username">@post.username</span> @post.caption
        <br>
        <span class="timestamp">@String.Format("{0: dd/MM/yyyy HH:mm}", post.datetime)</span></p>
    </div>
    <br>
    <br>
}
